<template>
  <div>
    <b-container class="col mt-3">
      <b-card title="CV" >
        <b-card-text>
         <iframe src="http://localhost:8080/static/cv.pdf" style="width:100%;height:100vh" />
        </b-card-text>
      </b-card>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'CV'
}
</script>
