<template>
  <div>
    <b-container class="col mt-3">
      <b-card title="Question 1" >
        <b-card-text>
          {{data.question}}
        </b-card-text>
        <b-card-text>Answer</b-card-text>
        <b-card-text>{{ data.X }}</b-card-text>
        <b-card-text>{{ data.Y }}</b-card-text>
        <b-card-text>{{ data.Z }}</b-card-text>
      </b-card>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Question1',
  data () {
    return {
      data: null
    }
  },
  mounted () {
    axios
      .get('http://localhost:3000/doscg/question1')
      .then(response => (this.data = response.data))
  }
}
</script>
