<template>
  <div>
    <b-container class="col mt-3">
      <b-card title="Question 4">
        <b-card-text>
          Please create a small project using Line messaging API for getting a notification when
          your Line Bot can not answer a question to the customer more than 10 second
        </b-card-text>
        <b-card-text>Linebot ID:@713uymmy</b-card-text>
      </b-card>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'Question1'
}
</script>
