<template>
  <div class="page-container">
    <b-navbar toggleable="lg" type="dark" variant="light" fixed="bottom">
      <b-navbar-brand href="#" class="text-dark ml-auto" >copyright@2020</b-navbar-brand>
    </b-navbar>
  </div>
</template>
<script>
export default {
  name: 'Navbar'
}
</script>
