<template>
  <div>
    <b-container class="col mt-3">
      <b-card title="Test with SCG.">
      </b-card>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld'
}
</script>
