<template>
  <div class="page-container">
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand href="#" class="text-danger" @click="nav('/')">DOSCG</b-navbar-brand>
      <b-navbar-toggle target="nav-collapse" />
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav >
          <b-nav-item href="#" variant="light" @click="nav('/doscg/question1')">Question1</b-nav-item>
          <b-nav-item href="#" variant="light" @click="nav('/doscg/question2')">Question2</b-nav-item>
          <b-nav-item href="#" variant="light" @click="nav('/doscg/question3')">Question3</b-nav-item>
          <b-nav-item href="#" variant="light" @click="nav('/doscg/question4')">Question4</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template v-slot:button-content>
            <em><b-icon icon="person-fill"></b-icon></em>
          </template>
          <b-dropdown-item href="#" @click="nav('/doscg/cv')">CV</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>
<script>
export default {
  name: 'Navbar',
  methods: {
    nav (path) {
      this.$router.push({path: path})
    }
  }
}
</script>
